* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    overflow: hidden;
    --mdc-theme-primary: #DE9050;
}

main {
    height: 100%;
    overflow: hidden;
}

.drawer-content mwc-list-item {
    padding: 0px 16px 0 16px;
}

#fabs {
    position: fixed;
    right: 16px;
    bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#fabs>*:not(:first-of-type) {
    margin-top: 16px;
}

mwc-fab#destinations-fab {
    --mdc-theme-secondary: var(--mdc-theme-primary);
    --mdc-theme-on-secondary: var(--mdc-theme-on-primary);
}

mwc-fab#range-fab {
    --mdc-theme-secondary: white;
    --mdc-theme-on-secondary: black;
}

#range-dialog span.distance {
    color: var(--mdc-theme-primary);
}

#range-dialog mwc-button[slot*='primary'] {
    margin-left: 8px;
}

#range-slider-container {
    margin: 24px 16px 0;
    display: flex;
    align-items: center;
}

#range-slider {
    --mdc-theme-secondary: var(--mdc-theme-primary);
    width: 100%;
    margin: 0 16px;
}